svg div:hover {
    color: blueviolet;
}

svg [id*=active-node] div {
    color:forestgreen;
}

textarea {
    white-space: pre-wrap;
}

html, body {
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100%;
    /* background: aquamarine; */
  }

#workspace {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: aliceblue;
}

svg {
    display: block;
    margin: auto;
}

.link-path {
    background-color: white;
    /* fill: black !important; */
}
.link-node .inactive-button {
    fill: black !important;
}

.link-alternate-node {
    transform: translate(-12px, 35px)
}
.link-alternate-node > g {
    transform: scale(0.07)
}

.link-alternate-node .inactive-button {
    fill: blue !important;
}

.active-button {
    fill: yellow !important;
}

.remove-node path{
    stroke: black;
    fill: red !important;
}

.add-node path {
    fill:#11FF44 !important;
}

.add-node g {
    transform: translate(15px, 10px) scale(0.6) !important;
}
.add-alternate-node path {
    fill:#1c32ad !important;
}

.add-alternate-node g {
    transform: translate(15px, 35px) scale(0.6) !important;
}