svg div:hover {
    color: blueviolet;
}

svg [id*=active-node] div {
    color:forestgreen;
}

textarea {
    white-space: pre-wrap;
}

html, body {
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100%;
    /* background: aquamarine; */
  }

#workspace {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: aliceblue;
}

svg {
    display: block;
    margin: auto;
}