svg div:hover {
    color: blueviolet;
}

svg [id*=active-node] div {
    color:forestgreen;
}

textarea {
    white-space: pre-wrap;
}

html, body {
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100%;
    /* background: aquamarine; */
  }

#workspace {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: aliceblue;
}

svg {
    display: block;
    margin: auto;
}


#output {
    height: 70%;
    overflow: scroll;
}

#save-svg {
    display: none;
}

#flowchart-code-preview {
    display: none;
}

.flowchart-ui {
    pointer-events: none;
}

.flowchart-ui foreignObject {
    margin: auto;
}
.flowchart-ui div {
    text-align: center;
    height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
}
.flowchart-ui div span {
    pointer-events: all;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
}

.add-node .icon-background {
    color:green;
}

.add-node {
    transform: translate(50%, 50%) !important;
}

.link-node .icon-background {
    color:darkgreen;
}

.link-node{
    transform: translate(-50%, 50%) !important;
}

.remove-node .icon-background {
    color:red;
}

.remove-node{
    transform: translate(75%, -125%) !important;
}

.add-alternate-node .icon-background {
    color:blue;
}

.add-alternate-node{
    transform: translate(50%, 160%) !important;
}

.link-alternate-node .icon-background {
    color:darkblue;
}

.link-alternate-node{
    transform: translate(-50%, 160%) !important;
}

.active-button .icon-background {
    color: yellow !important;
}

#theGraph {
    max-width: fit-content !important;
    max-height: fit-content !important;
}