/* 

textarea {
    white-space: pre-wrap;
}
*/
html,
body {
  margin: 0;
  padding: 0;
    height: 100%;
    overflow: hidden;
}
/* 
body {
  height: 100vh;
  width: 100vw;
} */

.container {
    height: 100vh;
    display: grid;
    grid-template-rows:auto auto 1fr;
    margin: 0;
    /* background-color: orange; */
    /* grid-template-columns:240px 1fr 240px; */
}


.container {
    height: 100%;
}
#output-container {
    max-width: 700px;
    /* height: 10vh; */
    margin: auto;
    overflow: scroll;
}

/* #output-container::-webkit-scrollbar {
    display: none;
  }
  
#output-container {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  } */

#output {
    width: 10000px;
    height: 500px;
    /* margin-left: auto;
    margin-right: auto; */
    /* height: 100%; */
    /* width: 2000px; */
    overflow: scroll;
}

#flowchart-code-preview {
    display: none;
}
* {
  box-sizing: border-box;
}
#workspace {
    /* height: 80%; */
    width: 100%;
    margin: 0;
    /* background-color: aliceblue; */
}
svg {
    display: block;
    margin: auto;
}
svg div:hover {
    color: blueviolet;
}


#theGraph [class*=active-node] div {
    /* color:forestgreen; */
    /* background-color: lime !important; */
    stroke: forestgreen;
}

#theGraph .active-node rect, 
#theGraph .active-node circle, 
#theGraph .active-node ellipse, 
#theGraph .active-node polygon,
#theGraph .active-node path {
    fill: rgb(122, 212, 247) !important;
    stroke: forestgreen !important;
}

#theGraph .used-node rect, 
#theGraph .used-node circle, 
#theGraph .used-node ellipse, 
#theGraph .used-node polygon,
#theGraph .used-node path {
    fill: rgb(190, 234, 252) !important;
    stroke: forestgreen !important;
}

#theGraph {
    max-width: fit-content !important;
    max-height: fit-content !important;
}

#alert-container {
    position:absolute;
    width: 100vw;
    margin: auto;
}
/*



#page-container {
  height: 100%;
  width: 100%;
}

.full-height {
    height: 100%;
}







.flowchart-ui {
    pointer-events: none;
}

.flowchart-ui foreignObject {
    margin: auto;
}
.flowchart-ui div {
    text-align: center;
    height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
}
.flowchart-ui div span {
    pointer-events: all;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
}

.add-node .icon-background {
    color:green;
}

.add-node {
    transform: translate(50%, 30%) scale(0.8) !important;
}

.link-node .icon-background {
    color:darkgreen;
}

.link-node{
    transform: translate(-50%, 30%) scale(0.8) !important;
}

.remove-node .icon-background {
    color:red;
}

.remove-node{
    transform: translate(55%, -100%) scale(0.8) !important;
}

.add-alternate-node .icon-background {
    color:blue;
}

.add-alternate-node{
    transform: translate(50%, 110%) scale(0.8) !important;
}

.link-alternate-node .icon-background {
    color:darkblue;
}

.link-alternate-node{
    transform: translate(-50%, 110%) scale(0.8) !important;
}

.active-button .icon-background {
    color: yellow !important;
}

 */